@{
    ViewBag.Title = "Storage Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/StyleBlue.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="content-wrapper">
        <section class="content-header">
            @*<h1>Storage Type
            </h1>*@
            <h1>
                Location Room
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-tasks"></i>Master</a></li>
                <li><a href="#">Storage Type</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <span>
                                <canvas id="myCanvas" width="12" height="12" class="highlight"></canvas>
                            </span>
                            <span class="InActive">Inactive Entries</span>
                             <div>
                                <h5><span class="fields-mandatory">Fields with * are Mandatory</span></h5>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="overflow-x: hidden">
                            <div class="row">
                                <div class="col-sm-2 .col-md-offset-1 form-group"></div>
                                <div class="col-md-3 .col-md-offset-3 form-group text-right">
                                    <label>Location Room *</label>
                                </div>
                                <div class="col-md-3 .col-md-offset-3 form-group ">
                                    @*<input type="text" placeholder="Storage Type Here.." class="form-control" id="txtStorageType" autocomplete="off">*@
                                    <input type="text" placeholder="Location Room Here.." class="form-control" id="txtStorageType" autocomplete="off">

                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row" style="display: none" id="divRemarkStorageType">
                                <div class="col-sm-2 .col-md-offset-1 form-group"></div>
                                <div class="col-md-3 .col-md-offset-3 form-group text-right">
                                    <label>Remarks: *</label>
                                </div>
                                <div class="col-md-3 .col-md-offset-3 form-group ">
                                    @Html.TextArea("txtRemarks", "", new { @class = "form-control", @placeholder = "Remarks" })
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="Row">
                                <div class="col-sm-2 .col-md-offset-1 form-group"></div>
                                <div class="col-md-3 .col-md-offset-3 form-group"></div>
                                <div class="col-md-3 .col-md-offset-3 form-group ">
                                    <a data-toggle="modal" id="btnPmsStorageTypeSave" data-tooltip="tooltip" title="Save" class="viewmode">
                                        <i class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5a">
                                        <i class="glyphicon glyphicon-floppy-saved"></i><span id="spnPmsStorageType">Save</span></i>
                                    </a>

                                    <a data-toggle="modal" id="btnPmsStorageTypeClear" data-tooltip="tooltip" title="Clear">
                                        <i class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5a">
                                        <i class="glyphicon glyphicon-refresh"></i><span>Clear</span></i>
                                    </a>

                                    <a data-toggle="modal" id="btnPmsStorageTypeExit" data-tooltip="tooltip" title="Exit">
                                        <i class="btn btn-warning btn-rounded btn-ef btn-ef-5 btn-ef-5a">
                                        <i class="glyphicon glyphicon-floppy-remove"></i><span>Exit</span></i>
                                    </a>
                                    
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <table id="tblStorageTypeMst" class="table table-bordered table-striped dataTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="modal fade" id="StorageTypeAudit" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="Close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title modaltitle text-center">Audit Trail</h4>
                </div>
                <div class="modal-body">
                    <!-- form start -->
                    <div class="box-body">
                        <table id="tblStorageAuditTrial" class="table table-bordered table-striped">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
        <div id="loader" class="modal"></div>
    </div>
    
    <div class="modal fade" id="StorageTypeInctive" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="Close" data-dismiss="modal" id="btnInActiveClose">&times;</button>
                    <h4 class="modal-title">Remarks</h4>
                </div>
                <div class="modal-body">
                    @Html.TextArea("txtReason", "", new { @class = "form-control", @placeholder = "Remarks", @autocomplete = "off" })
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn bg-olive" id="btnInActiveSave">Save</button>
                    <button type="button" class="btn bg-olive" @*data-dismiss="modal" id="btnInActiveClose">Close</button>*@

                    <a data-toggle="modal" id="btnInActiveSave" data-tooltip="tooltip" title="Save">
                        <i class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5a">
                        <i class="glyphicon glyphicon-floppy-saved"></i><span id="spnSave1">Save</span></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade AlertPopup" id="AlertPopup" role="dialog"></div>
    
    <script src="@Url.Content("~/Content/themes/plugins/jQuery/jQuery-2.2.0.min.js")"></script>
    <script src="~/Scripts/PmsStorageType.js"></script>
}