@{
    ViewBag.Title = "Client Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Client Master
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-tasks"></i>Master</a></li>
                <li><a href="#">Client Master</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <span class="Inactive">Inactive Entries</span>
                            <a id="btnAddOperation" data-toggle="modal" data-target="#ClientDetailsModel" data-options="splash-2 splash-ef-15"
                               class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a pull-right"><i class="fa fa-plus"></i><span>Add</span></a>
                        </div>
                        <div class="box-body">
                            <table id="tblClientDetailsData" class="table table-striped table-bordered" cellspacing="0" cellpadding="0" border="0" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
    

    <div class="modal splash fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" id="ClientDetailsModel" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span class="operation-mode" style="float: right" id="titleMode"></span>
                        <h4 class="modal-title modaltitle operation-name text-left" id="title">Client Master</h4>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="mdfield" style="text-align: right">
                        <h5><span class="fields-mandatory">Fields with * are Mandatory</span></h5>
                    </div>
                    <form name="form2" role="form" id="form2"></form>

                    <form name="form1" role="form" id="form1" style="margin-top: 40px;">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label>Client Code: *</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="txtClientCode" id="txtClientCode" class="form-control" autocomplete="off"
                                       placeholder="Client Code Here..."
                                       data-parsley-trigger="change"
                                       maxlength="100">
                            </div>
                            <div class="col-sm-1">
                                <span class="fa fa-fw fa-file-text-o AuditControl" title="Audit Trail" id="vClientCode" onclick="ClientFieldWiseAuditTrail(this)"
                                      data-toggle="modal" data-target="#divAuditTrial" titlename="Client Code"></span>
                            </div>
                            <div class="col-sm-2">
                                <label>Client Name: *</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="txtClientName" id="txtClientName" class="form-control" autocomplete="off"
                                       placeholder="Client Name Here..."
                                       data-parsley-trigger="change">
                            </div>
                            <div class="col-sm-1">
                                <span class="fa fa-fw fa-file-text-o AuditControl" title="Audit Trail" id="vClientName" onclick="ClientFieldWiseAuditTrail(this)"
                                      data-toggle="modal" data-target="#divAuditTrial" titlename="Client Name"></span>
                            </div>
                        </div>

                        <div id="divRemarks" style="display:none;">
                            <div class="col-sm-2">
                                <label>Remarks: *</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="txtRemarks" id="txtRemarks" class="form-control"
                                       placeholder="Remarks Here...">
                            </div>
                            <div class="col-sm-1">
                                <span class="fa fa-fw fa-file-text-o AuditControl" title="Audit Trail" id="vRemark" onclick="SiteFieldWiseAuditTrail(this)"
                                      data-toggle="modal" data-target="#divAuditTrial" titlename="Remarks"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 form-group text-center">
                                <div class="col-xs-12">
                                    <button type="button" id="btnSaveClientDetails" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" value="save" data-tooltip="tooltip"
                                            title="Save">
                                        <i class="fa fa-arrow-right"></i>Save
                                    </button>
                                    <button type="button" id="btnClearClientDetails" value="Clear" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" role="button" title="Clear">
                                        <i class="fa fa-arrow-left"></i>Clear
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </form>

                </div>
                <div class="modal-footer footer-bottom">
                </div>
            </div>
        </div>
    </div>
    <div class="modal splash fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" id="divAuditTrial" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="PopupClose()">&times;</button>
                    <h4 class="modal-title modaltitle text-center">Audit Trail</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" style="overflow-y: auto; height: 430px">
                        <table id="tblClientDetailsAuditTrial" class="table table-bordered table-striped"></table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade AlertPopup" id="AlertPopup" role="dialog">
    </div>
    <script src="~/Scripts/PmsClientMaster.js"></script>

    <script>

        $(window).load(function () {
            $('#form1').parsley().subscribe('parsley:field:validate', function () {
                if ($('#form1').parsley().isValid()) {
                    $('#btnSaveOperationDetails').prop('disabled', false);
                } else {
                    $('#btnSaveOperationDetails').prop('disabled', true);
                }
            });
        });

    </script>
}


